@charset "UTF-8";

/* カスタムプロパティ【CSS変数】 */
:root{
    /* --カスタムプロパティ名:値 */
    --portfolio-black: #000;
    --portfolio-white: #fff;
    --portfolio-green: #296A65;
    --portfolio-lite-green: #2FAC9E;
    --portfolio-grey: #eee;

    --fz-12:12px;
    --fz-12:14px;
    --fz-12:16px;
    --fz-12:18px;
    --fz-12:24px;
    --fz-12:32px;
    --fz-12:48px;
    --fz-12:64px;

}

body{
    /* カスタムプロパティの利用： var(カスタムプロパティ名) */
    /* background-color: var(--portfolio-lite-green); */
}

/* 何番目系 擬似クラス */
li:nth-child(3){
    color: red;
}

/* of-typeを使ってpara1の文字色をgreenにしてください */
.sec01 > p:nth-of-type(1){
    color:var(--portfolio-green);
}

/* childを使ってpara1に下線をひいてください */
.sec01 > p:nth-child(2){
    text-decoration: underline solid #000 1px;
}
/* li-2とli-5を太字にしてください */
.sec01 ul li:nth-of-type(2){
    font-weight: bold;
}
/* li-5だけ文字サイズを24pxにしてください */
.sec01 ul:nth-of-type(2) li:nth-of-type(2){
    font-size: 24px;
}

/* フォームのスタイルをリセット */
input[type="text"],
input[type="submit"],
 textarea{
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}

/* お名前とメールアドレスとメッセージ入力欄に太さ1px、実線、黒色のボーダーを引く */
/* input[type="text"],
input[type="email"],
textarea{
    border: 1px solid var(--portfolio-black);
    background-color: var(--portfolio-white);
} */
input:is([type="text"],[type="email"]),
textare{
     border: 1px solid var(--portfolio-black);
    background-color: var(--portfolio-white);
}

/* フォーカスされている」入力欄を強調する */
input:focus,
textarea:focus{
    outline: 3px solid var(--portfolio-green);
}

/* 必須項目のスタイルを変更する */
input:required{
    background-color: pink;
}

/* 擬似要素:has() */
label:has(input[required]) span::after{
    content:"必須";
    font-size: 0.8em;
    display: inline-block;
    background-color: var(--portfolio-green);
    color: var(--portfolio-white);
    border-radius: 3px;
    padding-inline: 5px;
    padding-block: 3px;
}

input[type=submit]{
    border-radius: 8px;
    background-color: var(--portfolio-green);
    color: var(--portfolio-white);
    padding-inline: 13px;
    padding-block: 8px;
}
input[type=submit]:disabled{
    background-color: var(--portfolio-grey);
    color: var(--portfolio-black);
    border: 1px solid var(--portfolio-black);
    opacity: 0.5;
}